@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #b9b9ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: small;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
}
nav a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: .4em;
}
nav a:hover {
    color: #0e8efd;
}

.logo{
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
}

nav.container{

}