@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #b9b9ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: small;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
}
nav a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: .4em;
}
nav a:hover {
    color: #0e8efd;
}

.logo{
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
}

nav.container{

}





















body {
    margin: 0;
    font-family: "Nunito Sans", SansSerif;
    min-height: 100vh;
}
footer {
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;

}
.container {
    min-width: 768px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
h1 {
    font-size: 2em;
}
footer h1 {
    margin: 0;
    font-weight: bolder;
}
h5 {
    color: white;
    font-weight: 200;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer .top-footer a:hover {
    color: black;
    background: white;
    border-radius: 4px;
}
footer .icon-wrapper:hover {
    color: black;
    background: white;
    border-radius: 100px;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 0;
    height: 15em;
}
.top-footer {
    display: flex;
    justify-content: space-around;
}
.icon-wrapper {
    border: 2px solid grey;
    border-radius: 2.4em;
    height: 2.4em;
    width: 2.4em;
    display: flex;
}
.icon-wrapper i {
    margin: auto;
}
.logo-div {
    flex-basis: 25%;
    position: relative;
    bottom: 5px;
}
.social-media-links {
    display: flex;
}
footer .bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .top-footer a {
    text-transform: uppercase;
    font-weight: 200;
}
footer .bottom-footer a {
    margin: .3em;
}
.line {
    width: 100%;
    height: 1px;
    background: grey;
}

h5 {
    margin: 5px;
}
li{
    padding-top: 2px;
}
